:root {
  --myPurple: #6a7fdb;
  --myLight: #e0e0e2;
  --myDark: #153131;
}

* {
  font-family: "SimplyOlive", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  background-color: var(--myPurple);
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
  margin: 0;
}

#MainPage-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
}

#MainPage-logo {
  height: auto;
  width: 85%;
}

#start-btn {
  border-radius: 10px;
  width: 12rem;
  height: 6rem;
  border: 0;
  font-size: 500%;
  background-color: var(--myDark);
  color: var(--myLight);
}

@font-face {
  font-family: "SimplyOlive";
  src: url("./assets/fonts/SimplyOlive.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
